<div class="col-md-3 col-lg-2 sidebar-offcanvas">
  <ul class="nav nav-pills nav-stacked">
      <li class="nav-item"><%= link_to('Lists', estates_path, class: 'nav-link') %></li>
      <li class="nav-item"><%= link_to('Register a estate', new_estate_path, class: 'nav-link') %></li>
  </ul>
</div>