<div class="col-md-3 col-lg-2 sidebar-offcanvas">
  <ul class="nav nav-pills nav-stacked">
      <li class="nav-item"><a class="nav-link" href="#">Lists</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Add new Landlord</a></li>
  </ul>
</div>