<% if flash[:notice] %>
<div class="alert alert-info alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Notice : </strong><%= flash[:notice] %>
</div>
<% end %>

<% if flash[:success_message] %>
<div class="alert alert-success alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Complete : </strong><%= flash[:success_message] %>
</div>
<%  end %>

<% if flash[:error_form_message] %>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Fill form inccorect : </strong><%= flash[:error_form_message] %>
</div>
<%  end %>